#awards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#awards-list {
    --col-gap: 2rem;
    --barH: 1rem;
    --roleH: 2rem;
    --flapH: 2rem;
  
    width: min(60rem, 90%);
    margin-inline: auto;
  
    display: flex;
    flex-wrap: wrap;
  
    gap: var(--col-gap);
    padding-inline: calc(var(--col-gap) / 2);
  
    justify-content: center;
    align-items: flex-start;
    list-style: none;
  }

  .award-item::before {
    content: "";
    grid-area: role;
    height: var(--barH);
    width: calc(100% + var(--col-gap));
    margin-left: calc(var(--col-gap) / -2);
    margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
    background: grey;
    z-index: -1;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2) 30%,
      rgba(255, 255, 255, 0.1) 40%,
      rgba(0, 0, 0, 0.1) 60%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.4)
    );
  }

  .award-item::after {
    content: "";
    grid-area: role;
    background: var(--accent-color);
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2) 30%,
      rgba(255, 255, 255, 0.1) 40%,
      rgba(0, 0, 0, 0.1) 60%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.4)
    );
    height: var(--roleH);
  }
  
  ul li .icon,
  ul li .title,
  ul li .descr {
    padding-inline: 1rem;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  }
  

.award-item {
    width: 10em;
    display: grid;
    grid-template:
      "role"
      "icon"
      "title"
      "descr";
    align-items: flex-start;
    gap: 1rem;
    padding-block-end: calc(var(--flapH) + 1rem);
    text-align: center;
    background: var(--accent-color);
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6) var(--roleH),
      rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
      rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem)
    );
    clip-path: polygon(
      calc(var(--col-gap) / -2 - 5px) 0,
      calc(100% + var(--col-gap) / 2 + 5px) 0,
      calc(100% + var(--col-gap) / 2 + 5px) calc(100% - var(--flapH)),
      50% 100%,
      calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH))
    );
  }

  .award-item img {
    width: 75%;
    border-radius: 50%;
       box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    /* center */
    margin-inline: auto;
  }

  /* choose first in #awards-list */
    .award-item:nth-child(1) {
        --accent-color: #0B374D;
    }

    /* choose second in #awards-list */
    .award-item:nth-child(2) {
        --accent-color: #AC2A1A;
    }

    /* choose third in #awards-list */
    .award-item:nth-child(3) {
        --accent-color: #D2B53B;
    }