#intro {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#intro h1 {
    font-size: 4rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid var(--secondary-color);
    animation: typing 2s steps(14, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 14ch; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--secondary-color); }
}

#headshot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: .25rem solid white;
}

#intro ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
}

#intro ul li {
    margin: 1rem;
}

#intro a {
    color: var(--primary-color);
    text-decoration: none;
}

@media (max-width: 768px) {
    #intro h1 {
        font-size: 2.5rem;
    }
    #headshot {
        width: 200px;
        height: 200px;
    }
}