#resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
}

#work-experience-list {
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.work-experience-item {
    margin: 2rem;
    list-style-type: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.work-experience-item h3 {
    font-size: 2rem;
}

.work-experience-item h4 {
    font-size: 1.5rem;
}

.work-experience-item p, .work-experience-item ul {
    font-size: 1.25rem;
}

#resume a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 2rem;
}

#resume a > span {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: white;
}

#resume a:hover {
    color: var(--secondary-color);
}

#resume img {
    background-color: var(--background-dark-color);
    width: 50%;
}

#education-list {
    display:flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

@media (max-width: 1024px) {
    #resume {
        width: 100%;
        padding: 1rem;
    }

    #work-experience-list, #education-list {
        width: 75%;
        flex-direction: column;
    }

    .work-experience-item, #education-list li {
        width: 100%;
        margin: 1rem 0;
    }

    #resume img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #resume {
        width: 100%;
        padding: 1rem;
    }

    #work-experience-list, #education-list {
        width: 85%;
        flex-direction: column;
    }

    .work-experience-item, #education-list li {
        width: 100%;
        margin: 1rem 0;
    }

    #resume img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #resume {
        width: 100%;
        padding: 1rem;
    }

    #work-experience-list, #education-list {
        width: 90%;
        flex-direction: column;
    }

    .work-experience-item, #education-list li {
        width: 100%;
        margin: 1rem 0;
    }

    #resume img {
        width: 100%;
    }

    /* change font size of main document so rem is smaller */
    html {
        font-size: 12px;
    }
    
}