:root {
  --primary-color: #00bfff;
  --secondary-color: #6c757d;
  --background-dark-color: #10121A;
  --background-dark-grey: #191D2B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-dark-color);
  color: white;
  font-family:'Courier New', Courier, monospace;
  overflow-x: hidden;
}

section {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}